<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>LocalizedLocationWhenInUseUsageDescription</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSWidgetWantsLocation</key>
	<true/>
	<key>UIAppFonts</key>
	<array>
		<string>GodoB.otf</string>
		<string>GodoM.otf</string>
	</array>
</dict>
</plist>
